body  {

background-color: cadetblue;
font-size: 25px
;


}

nav  {

   background-color: black;
   padding: 20px;
   font-size: 30px;
   text-align: center   ;

}

p  {

 color: azure;

}

h1  {

color: azure        ;

}
